src/.vs/
src/WeightLossTracker/.vs
/.vs
src/WeightLossTracker.Api/bin
src/WeightLossTracker.Api/obj
src/WeightLossTracker.Api/Properties
/src/WeightLossTracker.DataStore/bin/Debug/netstandard2.0
/src/WeightLossTracker.DataStore/obj
/src/WeightLossTracker.DataStoreTest/bin/Debug/netcoreapp2.1
/src/WeightLossTracker.DataStoreTest/obj
/src/WeightLossTracker/obj/Docker
/src/WeightLossTracker/obj/Debug
/src/WeightLossTracker/bin/Debug
